$o-assets-global-path: '/bower_components/';

@import '../../main';

html,
body {
	height: 100%;
}

.demo-list-inline {
	list-style-type: none;

	> li {
		float: left;
		padding: 0 15px;
	}

}

.demo-absolute-bottom {
	position: absolute;
	top: 600px;
}

.demo-absolute-middle {
	position: absolute;
	top: 300px;
}
