<ul class="demo-list-inline">

	<li>
		<div class="o-dropdown-menu o-dropdown-menu--inverse" data-o-component="o-dropdown-menu">
		  <button id="demo-inverse" type="button" class="o-dropdown-menu__toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
		    Inverse
		    <span class="caret"></span>
		  </button>
		  <ul class="o-dropdown-menu__menu-items" role="menu" aria-labelledby="demo-inverse">
		    <li class="o-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 1</a></li>
		    <li class="o-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 2</a></li>
		    <li class="o-dropdown-menu__divider" role="presentation"></li>
		    <li class="o-dropdown-menu__menu-item o-dropdown-menu__menu-item--disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 3 (disabled)</a></li>
		    <li class="o-dropdown-menu__menu-item" role="presentation"><a role="menuitem" tabindex="-1" href="#">Item 4</a></li>
		  </ul>
		</div>
	</li>

</ul>
